<form action="/home/sview" method"get">
<select name="city_id">
	<option value="">구</option>
	<option value="1">강남구</option>
	<option value="2">서초구</option>	
	<option value="3">동작구</option>	
	<option value="4">용산구</option>	
	<option value="5">관악구</option>	
</select>
<select name="score">
	<option value="">평점</option>
	<option value="score1">score1</option>
	<option value="score2">score2</option>
</select>
	<input type="submit" value="find">
</form>
<% @l.reverse.each do |l|%>
	<%= l.hd_id %>
	<%= l.score1 %>
	<%= l.score2 %>
	<br>
<% end %>
